# Schema reference: https://github.com/FyrmForge/hamr/blob/master/docs/guide/hamr-toml.md

[hamr]
version = "{{.HamrVersion}}"
scaffolded_at = "{{.ScaffoldedAt}}"

[options]
database = "{{.Database}}"
db_connector = "{{.DBConnector}}"
auth = "{{if .IncludeAuth}}session{{else}}none{{end}}"
css = "{{.CSS}}"
websockets = {{.IncludeWS}}
e2e = {{.IncludeE2E}}
stripe = {{.IncludeStripe}}
locale = {{.IncludeLocale}}
storage = "{{.StorageBackend}}"
pgadmin = {{.IncludePgAdmin}}
alpine = {{.IncludeAlpine}}

[static]
dir = "static"
dist = "dist"
manifest = "internal/web/components/staticmanifest.go"
package = "components"

[dev]
proxy_listen = ":3000"
proxy_target = "$PORT"
inject_reload = true
hamr_console_capture = true
hamr_console_filter = false
{{if .IncludeEmailMock}}
[dev.email]
enabled = true
{{end -}}
{{if .IncludeStripe}}
[dev.stripe]
enabled = true
webhook_url = "http://localhost:8080/api/webhooks/stripe"
webhook_secret = "{{.StripeWebhookSecret}}"
{{end -}}
{{if or (ne .Database "sqlite") (eq .StorageBackend "s3")}}
[[dev.docker_compose]]
name = "deps"
file = "docker/docker-compose.yaml"
keep_running = false
wait_ready = true
{{end}}
[[dev.watch]]
name = "templ"
watch = "**/*.templ"
ignore = "*_templ.go"
cmd = "templ generate"
debounce = 100
{{- if eq .CSS "tailwind"}}

[[dev.daemon]]
name = "tailwind"
cmd = "npm run css --minify"
{{- end}}
{{- if .StaticS3}}

[[dev.daemon]]
name = "sync-static"
cmd = "hamr sync --watch --bucket {{.Name | slug}}-static"
{{- end}}
{{- if .IncludeLocale}}

[[dev.watch]]
name = "locale"
watch = "locales/*.json"
cmd = "hamr locale gen"
debounce = 200
{{- end}}

[[dev.watch]]
name = "site"
watch = ["**/*.go", "**/*.templ", ".env"]
ignore = ["*_templ.go", "*_test.go"]
cmd = "go build -o ./bin/site ./cmd/site && ./bin/site --generate"
run = "./bin/site"
depends = ["templ"{{- if .IncludeLocale}}, "locale"{{- end}}]
reload = "full"

[[dev.watch]]
name = "static"
watch = ["static/**/*"]
cmd = "hamr gen static"
debounce = 200
{{- if .IncludeLocale}}

[locale]
default = "{{.DefaultLocale}}"
dir = "locales"
output = "internal/locale/locale.go"
package = "locale"
{{- end}}
