[proxy]
listen = ":3000"
target = ":8080"
inject_reload = true

[[dev.watch]]
name = "templ"
watch = "**/*.templ"
ignore = "*_templ.go"
cmd = "templ generate"
debounce = 100
{{- if eq .CSS "tailwind"}}

[[dev.daemon]]
name = "tailwind"
cmd = "npx tailwindcss -i static/css/input.css -o static/css/output.css --watch"
{{- end}}
{{- if .StaticS3}}

[[dev.daemon]]
name = "sync-static"
cmd = "hamr sync --watch --bucket {{.Name}}-static"
{{- end}}

[[dev.watch]]
name = "go"
watch = ["**/*.go", "**/*.templ"]
ignore = ["*_templ.go", "*_test.go"]
cmd = "go build -o ./tmp/app ./cmd/server"
run = "./tmp/app"
depends = ["templ"]
reload = "full"

[[dev.watch]]
name = "static"
watch = ["static/**/*.js", "static/images/**"]
reload = "full"
cmd = "echo static files changed"
