/** @type {import('tailwindcss').Config} */
module.exports = {
  darkMode: 'class',
  content: [
    "./internal/web/**/*.templ",
    "./internal/web/**/*.go",
  ],
  theme: {
    extend: {},
  },
  plugins: [],
}
