package home

import (
	"log/slog"
	"net/http"

	"github.com/FyrmForge/hamr/pkg/respond"
	"github.com/labstack/echo/v4"
)

// Handler handles home page requests.
type handler struct {
	log *slog.Logger
}

// NewHandler creates a new home handler.
func NewHandler(log *slog.Logger) *handler {
	return &handler{log: log}
}

// GET /
func (h *handler) Index(c echo.Context) error {
	return respond.HTML(c, http.StatusOK, homePage())
}
