package web

import (
	"net/http"

	"github.com/FyrmForge/hamr/pkg/respond"
	"github.com/labstack/echo/v4"
)

type homeHandler struct{}

func newHomeHandler() *homeHandler {
	return &homeHandler{}
}

// GET /
func (h *homeHandler) Index(c echo.Context) error {
	return respond.HTML(c, http.StatusOK, homePage(c))
}
